<%= form_for @task do |form| %>

<% if params[:event_id] %>
<% list = List.find_by(:event_id => params[:event_id]) %>
<%= form.hidden_field :list_id, :value => list.id %>
<% end %>

<%= form.hidden_field :if_patch, :value => true %>

  <p><%= form.label :item %>
  <br>
  <%= form.text_field :item, size: 80, autofocus: true, required: true %></p>

  <p><%= form.label :due_date, "Due Date" %>
  <br>
  <% if current_date = Task.find_by(id: params[:id]) %>
  <%= form.date_field :due_date, :value => current_date.due_date %></p>
  <% else %>
  <%= form.date_field :due_date %>
  <% end %>

  <p><%= form.label :tag, "Tag" %>
  <br>
  <%= form.text_field :tag %></p>

  <p><%= form.label :guest_id, "Assigned to" %>
    <br>
  <%= form.collection_select :guest_id, @guests, :id, :full_name, :include_blank => true %></p>
  </p>

  <%= form.submit %>

<% end %>
