<ul>
<% if task %>

  <!-- onclick, checkbox changes database -->
  <%= form_for task, :id => task.id do |form| %>
    <% if task.completed == true %>
    <div class="task-item">
      <%= form.check_box :completed, :onclick => "$('#edit_task_" + task.id.to_s() + "').submit()" %>
      <%= form.label task.item, :class => "checked-task" %><% if task.due_date %> (due: <%= task.due_date %>) <% end %>
      <%= link_to "delete", task_path(task.id), :method => :delete, :class => "action-link" %>
      <%= link_to "assign/edit", edit_task_path(task.id), :class => "action-link" %>
      <% if task.guest_id %>
        <div display="inline-block" class="assigned-to">assigned to: <%= Guest.find(task.guest_id).full_name %> <ul class="pull-right"><%= link_to "nudge" %></ul></div>
      <% end %>
    <% else %>
      <%= form.check_box :completed, :onclick => "$('#edit_task_" + task.id.to_s() + "').submit()" %>
      <%= form.label task.item %><% if task.due_date %> (due: <%= task.due_date %>) <% end %>
      <%= link_to "delete", task_path(task.id), :method => :delete, :class => "pull-right action-link" %>
      <%= link_to "assign/edit", edit_task_path(task.id), :class => "pull-right action-link" %>
      <% if task.guest_id %>
      <% guest = Guest.find(task.guest_id) %>
      <% list = List.find(task.list_id) %>
      <% event = Event.find(list.event_id) %>
        <div display="inline-block" class="assigned-to">assigned to: <%= Guest.find(task.guest_id).full_name %>
          <ul class="pull-right"><%= link_to "nudge", root_url + "notifications/notify_tasks?" + {:phone => guest.phone, :full_name => guest.full_name, :event_id => event.id, :event_title => event.title, :task_item => task.item}.to_param, :method => :post %></ul>
        </div>
      <% end %>
      <% end %>

  <% end %>

<% end %>
</ul>
