<%= form_for @event do |form| %>

  <p><%= form.label :title %>
  <br>
  <%= form.text_field :title, size: 80, autofocus: true, required: true %></p>

  <p><%= form.label :date, "Date" %>
  <br>
  <% if current_date = Event.find_by(id: params[:id]) %>
  <%= form.date_field :date, :value => current_date.date %></p>
  <% else %>
  <%= form.date_field :date %>
  <% end %>

  <p><%= form.label :budget, "Budget" %>
  <br>
  <%= form.number_field :budget %></p>

  <p><%= form.label :details, "Details" %>
  <br>
  <%= form.text_area :details, rows: 4, cols: 80 %></p>

  <p><%= form.label :image_url,  "Link to event image URL" %>
  <br>
  <%= form.text_field :image_url, size: 80 %></p>

  <%= form.submit %>

  <% if @event.errors.any? %>
  <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

<% end %>
