<h2>
  <%= @event.title %>
</h2>
<%= link_to "edit this event", edit_event_path(@event.id) %><br>
<%= link_to "delete this event", event_path(@event.id), :method => :delete %>

<div class="row container">
<div class="event-details">
  <div class="row">
  <%= image_tag @event.image_url, class: "event-image" %>

  <div class="event-specs">
    <p>Budget: $<%= @event.budget %></p>
    <p>Date: <%= @event.date %></p>
    <p> Details: <%= @event.details %></p>
  </div>
</div>
</div>
</div>

<% if flash[:notice] %>
<br>
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= flash[:notice] %>
</div>
<% end %>

<div class="row">
<div class="event-guests col-md-6">
  <h3>Guests</h3>
  <table class="table">
    <thead>
      <th>Name</th>
      <th>RSVP?</th>
      <th>Attending?</th>
      <th></th>
    </thead>
    <tbody>
      <%= render partial: 'guests/guest', collection: @event.guests, as: :guest, locals: {event: @event} %>
    </tbody>
  </table>
</div>

<div class="event-tasks col-md-6">
<h3>Tasks</h3>
<hr>
<%= render partial: 'tasks/task', collection: @event.tasks, as: :task %>
</div>
</div>
