<ul>
<% if supply %>

  <!-- onclick, checkbox changes database -->
  <%= form_for supply, :id => supply.id do |form| %>
    <% if supply.purchased == true %>
      <%= link_to "delete", supply_path(supply.id), :method => :delete, :class => "pull-right action-link" %>
      <%= link_to "assign/edit", edit_supply_path(supply.id), :class => "pull-right action-link" %>
      <%= form.check_box :purchased, :onclick => "$('#edit_supply_" + supply.id.to_s() + "').submit()" %>
      <%= form.label supply.title, :class => "checked-supply" %>
      <% if supply.quantity %>
        <div class="pull-right quantity" display="inline-block">(quantity: <%= supply.quantity %>)</div>
      <% end %>
      <% if supply.guest_id %>
        <div display="inline-block" class="assigned-to">assigned to: <%= Guest.find(supply.guest_id).full_name %> <ul class="pull-right"><%= link_to "nudge" %></ul></div>
      <% end %>
    <% else %>
      <%= link_to "delete", supply_path(supply.id), :method => :delete, :class => "pull-right action-link" %>
      <%= link_to "assign/edit", edit_supply_path(supply.id), :class => "pull-right action-link" %>
      <%= form.check_box :purchased, :onclick => "$('#edit_supply_" + supply.id.to_s() + "').submit()" %>
      <%= form.label supply.title %>
      <% if supply.quantity %>
        <div class="pull-right quantity" display="inline-block">(quantity: <%= supply.quantity %>)</div>
      <% end %>
      <% if supply.guest_id %>
      <% guest = Guest.find(supply.guest_id) %>
      <% event = Event.find(supply.event_id) %>
        <div display="inline-block" class="assigned-to">assigned to: <%= Guest.find(supply.guest_id).full_name %>
          <ul class="pull-right"><%= link_to "nudge", root_url + "notifications/notify_supplies?" + {:phone => guest.phone, :full_name => guest.full_name, :event_id => event.id, :event_title => event.title, :supply_title => supply.title}.to_param, :method => :post %></ul>
        </div>
      <% end %>

    <% end %>

  <% end %>

<% end %>
</ul>
