<!DOCTYPE html>
<html>
<head>
  <title>Plannr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>

  <nav class="navbar navbar-light bg-faded" style="background-color: #F6C0D0">
    <div class="container">
    <a class="navbar-brand" href="/">Plannr</a>
    <% if session["user_id"].present? %>
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Your Events <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= tasks_path %>">Your Upcoming Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= supplies_path %>">Supplies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= guests_path %>">Your Guests</a>
      </li>
    </ul>
    <% end %>
    <ul class="nav navbar-nav navbar-right">
      <% if session["user_id"].present? %>
      <% current_user = Guest.find_by(user_id: session["user_id"]) %>
      <li><a class="nav-link"><%= "Welcome, " + current_user.first_name + "!" %></a></li>
      <!-- <li><%= link_to "Welcome, " + current_user.first_name + "!", user_path(current_user) %></li> -->
      <li><%= link_to "Sign Out", logout_path %></li>
      <% else %>
      <li><%= link_to "Sign Up", new_user_path %></li>
      <li><%= link_to "Sign In", login_path %></li>
      <% end %>
    </ul>
    </div>
  </nav>

<div class="container">
<%= yield %>
</div>
<br><br>
<center>© Alexandra Clark, 2016</center>
<br><br>
</body>
</html>
