<!DOCTYPE html>
<html>
<head>
  <title>Plannr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-light bg-faded" style="background-color: #F6C0D0">
    <div class="container">
    <a class="navbar-brand" href="#">Plannr</a>
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Your Events <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tasks">Your Upcoming Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/supplies">Supplies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= guests_path %>">Your Guests</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="nav-link" href="#">Sign Up </a>
      </li>
    <li>
      <a class="nav-link" href="#">Sign In </a>
    </li>
    </ul>
    </div>
  </nav>

<div class="container">
<%= yield %>
</div>

</body>
</html>
